# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:8000

# OAuth (ctech-account)
NEXT_PUBLIC_CTECH_URL=http://localhost:8080
NEXT_PUBLIC_CTECH_CLIENT_URL=http://localhost:3001
NEXT_PUBLIC_CTECH_CLIENT_ID=dfe
