{% macro watermarks(ctx) %}
  {% if ctx.is_cancelada %}<div class="watermark">{{ ctx.text.cancelada }}</div>{% endif %}
  {% if ctx.is_homologacao %}<div class="watermark">{{ ctx.text.homologacao }}</div>{% endif %}
{% endmacro %}

{# A labelled grid cell: tiny caption on top, value (bold) below. #}
{% macro fld(label, value, cls="") %}
<td class="fld {{ cls }}"><span class="lbl">{{ label }}</span><span class="val">{{ value }}</span></td>
{% endmacro %}

{% macro title(text) %}<div class="quadro-title">{{ text }}</div>{% endmacro %}

{% macro header(ctx) %}
<div class="quadro">
  <table class="grid hdr"><tr>
    <td class="emit">
      <span class="lbl">IDENTIFICAÇÃO DO EMITENTE</span>
      <div class="b big">{{ ctx.emit.nome }}</div>
      {% if ctx.emit.fantasia %}<div>{{ ctx.emit.fantasia }}</div>{% endif %}
      <div>{{ ctx.emit.endereco }}</div>
      <div>{{ ctx.emit.mun }} - {{ ctx.emit.uf }} - CEP {{ ctx.emit.cep }}</div>
      <div>CNPJ/CPF: {{ ctx.emit.doc }} &nbsp; IE: {{ ctx.emit.ie }}</div>
      <div>Fone: {{ ctx.emit.fone }}</div>
    </td>
    <td class="idbox center">
      <div class="b xbig">{{ ctx.text.damdfe }}</div>
      <div class="tiny">{{ ctx.text.damdfe_desc }}</div>
      <div class="b small">MODELO 58 &nbsp; SÉRIE {{ ctx.ide.serie }}</div>
      <div class="b">Nº {{ ctx.ide.nMDF }}</div>
      <div class="small">MODAL: {{ ctx.modal_label }}</div>
      <div class="small">EMISSÃO: {{ ctx.ide.dhEmi }}</div>
    </td>
    <td class="keybox center">
      <img class="barcode" src="{{ ctx.chave_barcode }}" alt="chave">
      <span class="lbl">CHAVE DE ACESSO</span>
      <div class="tiny b chave">{{ ctx.chave_fmt }}</div>
      {% if ctx.qr_uri %}<img class="qr" src="{{ ctx.qr_uri }}" alt="QR Code">{% endif %}
    </td>
  </tr></table>
</div>
<div class="quadro">
  <table class="grid"><tr>
    {% if ctx.is_contingencia %}
    {{ fld("", ctx.text.contingencia, "w100 banner-cell") }}
    {% elif ctx.protocolo %}
    {{ fld(ctx.text.protocolo, ctx.protocolo.nProt ~ " - " ~ ctx.protocolo.dhRecbto, "w100") }}
    {% else %}
    {{ fld(ctx.text.protocolo, "", "w100") }}
    {% endif %}
  </tr></table>
</div>
{% endmacro %}

{% macro ide_box(ctx) %}
<div class="quadro">
  <table class="grid"><tr>
    {{ fld("TIPO DO EMITENTE", ctx.ide.tpEmit_label, "w30") }}
    {{ fld("TIPO TRANSPORTADOR", ctx.ide.tpTransp_label, "w20") }}
    {{ fld("UF INÍCIO", ctx.ide.ufIni, "w10") }}
    {{ fld("UF FIM", ctx.ide.ufFim, "w10") }}
    {{ fld("CARREGAMENTO", ctx.carrega | join(", "), "w30") }}
  </tr>
  {% if ctx.percurso %}
  <tr>{{ fld("UF DE PERCURSO", ctx.percurso, "w100") }}</tr>
  {% endif %}
  </table>
</div>
{% endmacro %}

{% macro modal_box(ctx) %}
{% set mi = ctx.modal_info %}
{{ title("MODAL " ~ ctx.modal_label | upper) }}
<div class="quadro">
  {% if mi.is_rodo %}
  <table class="grid"><tr>
    {{ fld("RNTRC", mi.rntrc, "w20") }}
    {{ fld("CIOT", mi.ciot, "w30") }}
    {{ fld("PLACA / UF", mi.veic.placa ~ (" / " ~ mi.veic.uf if mi.veic.uf else ""), "w20") }}
    {{ fld("RENAVAM", mi.veic.renavam, "w15") }}
    {{ fld("TARA (KG)", mi.veic.tara, "w15") }}
  </tr></table>
  {% if mi.reboques %}
  <table class="grid rowtop"><tr>
    {% for rb in mi.reboques %}{{ fld("REBOQUE " ~ loop.index, rb.placa ~ (" / " ~ rb.uf if rb.uf else "")) }}{% endfor %}
  </tr></table>
  {% endif %}
  {% if mi.condutores %}
  <table class="grid rowtop"><tr>
    {% for cd in mi.condutores %}{{ fld("CONDUTOR / CPF", cd.nome ~ (" - " ~ cd.cpf if cd.cpf else "")) }}{% endfor %}
  </tr></table>
  {% endif %}
  {% elif mi.is_aereo %}
  <table class="grid"><tr>
    {{ fld("NACIONALIDADE", mi.aereo.nac, "w20") }}
    {{ fld("MATRÍCULA", mi.aereo.matr, "w20") }}
    {{ fld("Nº DO VOO", mi.aereo.nvoo, "w15") }}
    {{ fld("AER. EMBARQUE", mi.aereo.caeremb, "w15") }}
    {{ fld("AER. DESTINO", mi.aereo.caerdes, "w15") }}
    {{ fld("DATA DO VOO", mi.aereo.dvoo, "w15") }}
  </tr></table>
  {% elif mi.is_aqua %}
  <table class="grid"><tr>
    {{ fld("IRIN", mi.aqua.irin, "w15") }}
    {{ fld("TIPO EMBARCAÇÃO", mi.aqua.tpemb, "w15") }}
    {{ fld("CÓD. EMBARCAÇÃO", mi.aqua.cembar, "w15") }}
    {{ fld("EMBARCAÇÃO", mi.aqua.xembar, "w25") }}
    {{ fld("Nº VIAGEM", mi.aqua.nviag, "w10") }}
    {{ fld("PORTO EMB. / DEST.", mi.aqua.cprtemb ~ " / " ~ mi.aqua.cprtdest, "w20") }}
  </tr></table>
  {% if mi.aqua.mmsi %}
  <table class="grid rowtop"><tr>{{ fld("MMSI", mi.aqua.mmsi, "w20") }}</tr></table>
  {% endif %}
  {% if mi.aqua.balsas %}
  <table class="grid rowtop"><tr>
    {% for bl in mi.aqua.balsas %}{{ fld("BALSA " ~ loop.index, bl.nome ~ (" - " ~ bl.cod if bl.cod else "")) }}{% endfor %}
  </tr></table>
  {% endif %}
  {% elif mi.is_ferrov %}
  <table class="grid"><tr>
    {{ fld("PREFIXO TREM", mi.ferrov.xpref, "w20") }}
    {{ fld("DATA/HORA TREM", mi.ferrov.dhtrem, "w20") }}
    {{ fld("ORIGEM", mi.ferrov.xori, "w20") }}
    {{ fld("DESTINO", mi.ferrov.xdest, "w20") }}
    {{ fld("Nº VAGÕES", mi.ferrov.qvag, "w20") }}
  </tr></table>
  {% if mi.ferrov.vagoes %}
  <table class="grid rowtop"><tr>
    {% for vg in mi.ferrov.vagoes %}{{ fld("VAGÃO " ~ loop.index, "SÉRIE " ~ vg.serie ~ " Nº " ~ vg.nvag) }}{% endfor %}
  </tr></table>
  {% endif %}
  {% endif %}
</div>
{% endmacro %}

{% macro carga_box(ctx) %}
{{ title("PRODUTO PREDOMINANTE E TOTAIS DA CARGA") }}
<div class="quadro">
  <table class="grid"><tr>
    {{ fld("PRODUTO PREDOMINANTE", ctx.prodPred.xProd, "w40") }}
    {{ fld("TIPO DE CARGA", ctx.prodPred.tpCarga_label, "w30") }}
    {{ fld("NCM", ctx.prodPred.ncm, "w30") }}
  </tr></table>
  <table class="grid rowtop"><tr>
    {{ fld("QTD. CT-e", ctx.tot.qCTe, "w14 num") }}
    {{ fld("QTD. NF-e", ctx.tot.qNFe, "w14 num") }}
    {{ fld("QTD. MDF-e", ctx.tot.qMDFe, "w14 num") }}
    {{ fld("VALOR TOTAL R$", ctx.tot.vCarga, "w24 num b") }}
    {{ fld("PESO TOTAL (" ~ ctx.tot.cUnid_label ~ ")", ctx.tot.qCarga, "w34 num") }}
  </tr></table>
</div>
{% endmacro %}

{% macro docs_box(ctx) %}
{{ title("DOCUMENTOS FISCAIS ELETRÔNICOS VINCULADOS") }}
<div class="quadro">
  {% for mun in ctx.municipios %}
  <table class="grid {% if not loop.first %}rowtop{% endif %}"><tr>
    {{ fld("MUNICÍPIO DE DESCARGA", mun.mun ~ "  (" ~ mun.count ~ " doc.)", "w100") }}
  </tr></table>
  <table class="grid docs">
    {% for d in mun.docs %}
    {% if loop.index0 % 2 == 0 %}<tr>{% endif %}
      <td class="fld w50"><span class="lbl">{{ d.tipo }}</span><span class="val chave">{{ d.chave_fmt }}</span></td>
    {% if loop.index0 % 2 == 1 or loop.last %}</tr>{% endif %}
    {% endfor %}
  </table>
  {% endfor %}
</div>
{% endmacro %}

{% macro seg_box(ctx) %}
{% if ctx.seguros %}
{{ title("INFORMAÇÕES DOS SEGUROS") }}
<div class="quadro">
  <table class="grid">
    {% for s in ctx.seguros %}
    <tr {% if not loop.first %}class="rowtop"{% endif %}>
      {{ fld("SEGURADORA", s.nome, "w34") }}
      {{ fld("CNPJ", s.cnpj, "w22") }}
      {{ fld("APÓLICE", s.apol, "w20") }}
      {{ fld("AVERBAÇÃO", s.averbacoes, "w24") }}
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% endmacro %}

{% macro obs_box(ctx) %}
{{ title("OBSERVAÇÕES") }}
<div class="quadro">
  <table class="grid"><tr>
    <td class="fld w70"><span class="lbl">INFORMAÇÕES COMPLEMENTARES</span>
      <div>{{ ctx.msg_fiscal }}</div><div>{{ ctx.msg_contribuinte }}</div>
      {% if ctx.lacres %}<div>LACRES: {{ ctx.lacres | join(", ") }}</div>{% endif %}
    </td>
    <td class="fld w30"><span class="lbl">RESERVADO AO FISCO</span></td>
  </tr></table>
</div>
{% endmacro %}
